In [1]:
t = (8,9)
t

(8, 9)

In [2]:
print(t)

(8, 9)

In [3]:
# To show the methods of an objects
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [4]:
# Help:
help(t)

Help on tuple object:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [6]:
# Show the type of the object
type(t)

tuple

In [7]:
# Show the ID of the object
id(t)

139998981776648

In [8]:
# Modifying the object:
t = ("3","4")
t

('3', '4')

In [9]:
# Showing the ID know
id(t)

139998981768328

In [10]:
# The ID of the object have changed
# In Python the tuples are inmutables so we can not assign to them a new value.
# Whe we do an assignment another object (with a new ID) is created and pointed by 
# the same variable

In [12]:
t = ("3","5")
id(t)

139999012210440

In [13]:
# The integer/floats and lists are mutables
# so if we can pass a list as argument to a function it will be passed as reference
# but if we pass a tuple as argument to a function it will be passed as value

In [14]:
integer1 = 1
real1 = 3.14
string1 = "pi"

In [15]:
v = (integer1, real1, string1)
v

(1, 3.14, 'pi')

In [16]:
type(v)

tuple

In [17]:
# defining some strings

In [18]:
s = "toto"
s

'toto'

In [19]:
s = 'toto'
s

'toto'

In [49]:
# define a list
list1 = [integer1, real1, string1]

In [50]:
# let's see its elements

In [51]:
list1[0]

1

In [52]:
list1[2]

'pi'

In [53]:
list1[-1]

'pi'

In [54]:
list1[:2]

[1, 3.14]

In [55]:
list1[:3]

[1, 3.14, 'pi']

In [56]:
list1[1:]

[3.14, 'pi']

In [57]:
list1[:1]

[1]

In [58]:
print(list1 + list1)

[1, 3.14, 'pi', 1, 3.14, 'pi']

In [59]:
len(list1)

3

In [60]:
# min is not supported because there are different types
min(list1)

TypeError: '<' not supported between instances of 'str' and 'int'

In [61]:
list2 = [2.4, 3.8, 1.2]
min(list2)

1.2

In [45]:
# Provides the index of a specific element
list1.count(3.14)

1

In [43]:
# min is not supported because there are different types
list1.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [63]:
list2.sort()
print(list2)

[1.2, 2.4, 3.8]

In [64]:
# create a dictionary
dict1 = {'A' : 2016, 'B' : 2017, 'C' : 2017}
dict1

{'A': 2016, 'B': 2017, 'C': 2017}

In [66]:
dict1['A']

2016

In [67]:
# an element that does not exist on dictionary:
dict1['D']

KeyError: 'D'

In [69]:
dict2 = { 1 : 'toto', 'titi' : 10, 1000 : (1,2,3) }
dict2

{1: 'toto', 'titi': 10, 1000: (1, 2, 3)}

In [70]:
dict2.keys()

dict_keys([1, 'titi', 1000])

In [71]:
dict2.values()

dict_values(['toto', 10, (1, 2, 3)])

In [72]:
dict2.items()

dict_items([(1, 'toto'), ('titi', 10), (1000, (1, 2, 3))])

In [74]:
value = 1
values = []
values

[]

In [75]:
values.append(value)
values

[1]

In [76]:
same_values = values
same_values

[1]

In [77]:
same_values.append(3)
value = 2
value

2

In [78]:
values

[1, 3]

In [79]:
same_values

[1, 3]

In [80]:
id(values)

139998845430088

In [82]:
id(same_values)

139998845430088

In [83]:
# Structures de control

In [84]:
list3 = range(6)
list3

range(0, 6)

In [85]:
# For
for val in list3:
    if val in [0, 2, 4]:
        continue
    else:
        print(val, ' : odd')

1  : odd
3  : odd
5  : odd

In [86]:
# While
i = 5
while i>0:
    print(i)
    i = i - 1

5
4
3
2
1

In [91]:
if list3[1] == 0:
    print('list3[1] is 0')
elif list3[1] == 1:
    print('list3[1] is 1')
else:
    print('?')

list3[1] is 1

In [92]:
l1 = [1, 2]
l2 = [1, 2, 3]
[x * y for x in l1 for y in l2]

[1, 2, 3, 2, 4, 6]

In [108]:
month = ['jan','feb','mar','apr','may','jun','jul','ago','sept','oct','nov','dec']
nbr_of_days = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
# dict_year = [ 'jan' : nbr_of_days[0]]
dict_year = {}
for i in range(len(month)):
    dict_year[ month[i] ] = nbr_of_days[i]
dict_year

{'jan': 31,
 'feb': 28,
 'mar': 31,
 'apr': 30,
 'may': 31,
 'jun': 30,
 'jul': 31,
 'ago': 31,
 'sept': 30,
 'oct': 31,
 'nov': 30,
 'dec': 31}

In [109]:
# Functions

In [110]:
def funct1(inmutable, mutable, optional = 'default value'):
    inmutable = 'new'
    mutable.append(4)
    print(inmutable, mutable, optional)

In [111]:
str1 = 'old'
list4 = [1,2]
str2 = 'new value'
funct1(str1, list4, str2)

new [1, 2, 4] new value

In [112]:
def funct2(inmutable, mutable, optional = 'default value'):
    inmutable = 'new'
    mutable.append(4)
    return(inmutable, mutable, optional)

In [113]:
str3 = 'old'
list5 = [1, 2]
str4 = 'new value'
funct2(str3, list5, str4)

('new', [1, 2, 4], 'new value')

In [114]:
# Ad-hoc functions

In [115]:
fAdHoc = lambda x, y: x + y
fAdHoc(2,3)

5

In [116]:
(lambda x, y: x + y)(4,6)

10

In [117]:
# Exceptions

In [118]:
def excFunct(n):
    try: # put here instructions that can raise an exception
        print(1/n)
    except ZeroDivisionError: # If exception is raised
        print('Division by zero !!!!')
    else: # else
        pass
    finally:
        # executed after the bloc try and the processing of errors if they happened
        print("function finished")

In [119]:
excFunct(1)

1.0
function finished

In [120]:
excFunct(0)

Division by zero !!!!
function finished

In [121]:
# Class and inheritance

In [ ]:
class newClass(parentClass):
    sharedVar = 1
    def __init__(self):  # constructor
        
    def funct1(): # method
        
        

class newClassMultipleInheritance(parentClass, parentClass1)

In [123]:
# Input output

In [124]:
textFile = open("text.txt", 'w')

In [125]:
textFile.write("My text !!!!\n")
textFile.close()

In [126]:
textFile1 = open("text.txt")
print(textFile1.read())

My text !!!!

In [127]:
textFile1.close()

In [128]:
# Binary file

In [134]:
import pickle
list10 = [1, 3.14, 'pi']
binaryfile = open('bin.dat', 'wb')
pickle.dump(list10, binaryfile)
binaryfile.close()

In [135]:
binaryfile = open('bin.dat', 'rb')
list11 = pickle.load(binaryfile)
list11

[1, 3.14, 'pi']